  <nav class="teal darken-4">
    <div class="nav-wrapper">
      <a href="javascript:void(0)" class="brand-logo" style="margin-left:20px;">Investiment Overview</a>
      <a href="javascript:void(0)" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       
        <li><a routerLink="">Sair</a></li>
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    
    <li><a routerLink="">Sair</a></li>
    
  </ul>
  <!-- Slide -->
   <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="assets/Imagens/Home/investimento.jpg">
      </div>
      <a href="#user"><img class="circle" src="assets/Imagens/Home/perfil.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="javascript:void(0)" data-target="slide-out" class="sidenav-trigger" style="margin-left:20px;"><i class="material-icons" style="margin-top:15px;">menu</i></a>

  
        