<nav class="teal darken-4">
<div class="nav-wrapper">
      <a href="javascript:void(0)" class="brand-logo" style="margin-left:20px;">Investiment Overview</a>
      <a href="javascript:void(0)" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a routerLink="">Home</a></li>
         
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
         <li><a routerLink="">Home</a></li>
      
  </ul>



          
    