<!--------------------------------------------------- Header --------------------------------------------------->

<header>
	
	<div class="logo inic"></div>
	<div class="logo2 inic"></div>

	<nav>
		<ul>
			<li><a href="#analise">analise de investimentos</a></li>
			<li><a href="#custo">custos operacionais</a></li>
		</ul>
	</nav>
	
</header>
<!-------------------------------------------------- Home -------------------------------------------------->
<section class="home">

	<div class="home-mask">

		<div class="home-txt-1">
			<h1>QUE TAL TURBINAR SEUS INVESTIMENTOS?</h1><br>
			<h3>NA Investment Overview VOCÊ ALÉM DE INVESTIR, CONTARÁ COM O AUXÍLIO DO NOSSO SISTEMA, NO QUAL TE AVISA A HORA CERTA DE COMPRAR E VENDER SUAS AÇÕES.</h3><br>
			<h3>TA ESPERANDO O QUE PRA INVESTIR?</h3>
		</div>
		
		<div class="home-txt-2">
			<h2>Segurança e Agilidade</h2><br>
			<h4>Entre agora na nossa plataforma e comece a investir!</h4><br>
			<input type="button" value="Entrar" id="btn-entrar" routerLink="login">
		</div>
	
	</div>		

</section>

<!-------------------------------------------------- Analise -------------------------------------------------->

<section class="analise" id="analise">
	
	<article class="analise-title">
	
		<div class="analise-line-1"></div>
			<h1>Analise de Investimento</h1>
		<div class="analise-line-2"></div>

		<h2>Investindo com a gente, você investe em si mesmo</h2>

	</article>
	
	<article class="block-comprar block-analise" routerLink="login">		
		<div class="analise-mask">
			<h1>Comprar</h1>		
			<h3>Agora ficou ainda mais fácil pra você saber a melhor hora pra fazer a compra de suas ações.</h3>	
		</div>
	</article>
	
	<article class="block-vender block-analise" routerLink="login">
		<div class="analise-mask">
			<h1>Vender</h1>
			<h3>O seu lucro acaba sendo ainda maior quando se sabe a hora certa para vender os suas ações.</h3>
		</div>
	</article>

</section>

<!-------------------------------------------------- Custo -------------------------------------------------->

<section class="custo" id="custo">

	<img src="assets/Imagens/Home/laptop.png" class="laptop">
	<img src="assets/Imagens/Home/iphone.png" class="iphone">

	<h1>Custo da nossa plataforma</h1>
	<div class="custo-line"></div>
	
	<h3>Nosso produto é <strong>100% gratuito</strong></h3>
	<h3>Esta esperando o que para clicar no link abaixo?</h3>
	<h3>Comece já a investir e vender suas ações na melhor hora!</h3>
	
	<input type="button" value="Quero investir" id="btn-quero-investir" routerLink="login">
	
</section>

<!-------------------------------------------------- Equipe -------------------------------------------------->

<section class="equipe">

	<h1>Nossa Equipe</h1>
	<div class="equipe-line"></div>
	
	<h2>Nossa equipe é composta por um equipe competente capaz de atuar com profissioalismo no nosso sistema</h2>

	<div class="block-equipe block-ajust">
		<div class="equipe-img will-img"></div>
		<h3>Desenvolvedor</h3>
		<h4>Wildemar</h4>
	</div>
	<div class="block-equipe">
		<div class="equipe-img lucas-img"></div>
		<h3>Desenvolvedor</h3>
		<h4>Lucas Santos</h4>
	</div>
	<div class="block-equipe">
		<div class="equipe-img matheus-img"></div>
		<h3>Designer</h3>
		<h4>Matheus Ueda</h4>
	</div>

</section>


